h1 {
    font-family: "Bebas Neue";
    font-size: 60px;
    font-weight: 1000;
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
    color: #F7B538;
    word-spacing: 10px;
}

.paragraph {
    font-size : 50px;
    line-height: 62px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.p-welcome{
    font-size: 30px;
    font-family: Bebas Neue;
    text-indent: 5px;
}

.contact-page{
    text-align :right;
    font-family: 'Roboto', sans-serif;
}